# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\z-gp-2019\03.分库分表\01.分库分表之Mycat应用\课堂源码\spring-boot-dynamic-data-source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
